.Frontpage {
    background-color: palevioletred;
    padding: 10px;
    margin: 10px;
    
}

input[type=text]{
    width: 5%;
}

.navbutton{
    background-color: #e91e63;
    padding: 10px 24px;
    color: white;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fpagecontent{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}